.footer {
  &__flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__logo-box {
    width: 20%;
    margin-right: 3rem;

    margin-bottom: 6rem;

    @include respond(large) {
      width: 100%;
    }
  }

  &__links {
    display: flex;
    flex-wrap: wrap;

    &--company {
      margin-right: 3rem;
      width: 15%;

      @include respond(large) {
        width: 25%;
        margin-bottom: 2rem;
      }

      @include respond(very-small) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 4rem;
      }
    }

    &--features {
      margin-right: 3rem;
      width: 15%;

      @include respond(large) {
        width: 25%;
        margin-bottom: 2rem;
      }

      @include respond(very-small) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 4rem;
      }
    }

    &--contactUs {
      margin-right: 3rem;
      width: 25%;

      @include respond(large) {
        width: 25%;
        margin-bottom: 2rem;
        margin-right: 0;
      }

      @include respond(very-small) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 4rem;
      }
    }

    &--newsletter-form {
      @include respond(very-small) {
        width: 100%;
      }
    }

    ul {
      list-style: none;
    }
  }

  &__link {
    font-size: 1.4rem;
    color: rgba($color-grey-light-1, 0.7);
    display: inline-block;
    text-decoration: none;
    transition: all 0.2s;

    margin-bottom: 1rem;

    &:hover {
      color: $color-primary;
    }
  }

  &__form {
    position: relative;

    @include respond(very-small) {
      width: 100%;
    }

    &--email {
      height: 5rem;
      background-color: $color-secondary-light;
      border: none;
      border-radius: 0.5rem;
      outline: none;
      padding: 1rem;
      color: $color-grey-light-1;
      margin-top: 2rem;
      width: 25rem;
      border: 3px solid transparent;
      padding-right: 5.5rem;

      transition: all 0.4s;

      @include respond(very-small) {
        width: 100%;
      }

      &:focus {
        border: 3px solid rgba($color-primary-light, 0.8);
      }

      &:focus:invalid {
        border: 3px solid rgba($color-red, 1);
      }
    }

    &--btn {
      background-color: transparent;
      border: none;
      outline: none;
      background-image: url(../img/input-form-arrow.svg);
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
      height: 5rem;
      width: 5rem;
      border: 3px solid transparent;
      transition: all 0.4s;

      position: absolute;
      top: 2rem;
      right: 0;

      &:hover,
      &:focus,
      &:active {
        border: 3px solid rgba($color-primary-light, 0.8);
        border-radius: 0.5rem;
        background-image: url(../img/input-form-arrow-yellow.svg);
      }
    }
  }
}
