// COLORS
$color-primary: #fcce0d;
$color-primary-light: #fdd639;
$color-primary-dark: #ecc00f;

$color-secondary: #25313c;
$color-secondary-light: #324150;
$color-secondary-dark: #1e262e;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-red: rgb(236, 131, 149);

// FONT
$default-font-size: 1.6rem;
