.features-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include respond(medium) {
    flex-direction: column;
  }

  &__picture-box {
    width: 50%;
    margin-right: 5rem;
    transition: all 0.4s;

    @include respond(medium) {
      width: 130%;
      margin-right: 0;
      margin-bottom: 2rem;
      margin-right: -10rem;
      margin-left: -10rem;
    }

    &:hover {
      transform: scale(1.01);
      box-shadow: 0 0.5rem 6rem rgba($color-black, 0.2);
    }
  }

  &__picture {
    width: 100%;
  }

  &__text-content {
    width: 50%;

    @include respond(medium) {
      width: 100%;
      text-align: center;
    }

    @include respond(small) {
      text-align: start;
    }
  }
}

.features-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include respond(medium) {
    flex-direction: column-reverse;
  }

  &__text-content {
    width: 50%;
    margin-right: 5rem;

    @include respond(medium) {
      width: 100%;
      text-align: center;
      margin-right: 0;
    }

    @include respond(small) {
      text-align: start;
    }
  }

  &__picture-box {
    width: 50%;
    transition: all 0.4s;

    @include respond(medium) {
      width: 130%;
      margin-right: -10rem;
      margin-left: -10rem;
      margin-bottom: 2rem;
    }

    &:hover {
      transform: scale(1.01);
      box-shadow: 0 0.5rem 6rem rgba($color-black, 0.2);
    }
  }

  &__picture {
    width: 100%;
    // height: 100%;
  }
}
