@mixin clearfix {
  // create an after element that will add the height that has been removed by float layout
  &::after {
    content: '';
    display: table;
    // clear both left and right floats
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
