.header {
  height: 95vh;
  background-image: linear-gradient(
      to bottom right,
      rgba($color-primary-dark, 0.7),
      rgba($color-primary-light, 0.7)
    ),
    url(../img/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 78vh, 0 100%);

  @include respond(very-very-small) {
    height: 50vh;
    clip-path: polygon(0 0, 100% 0, 100% 46vh, 0 100%);
  }

  &__logo-box {
    width: 8rem;
    position: absolute;
    top: 2rem;
    left: 2rem;

    @include respond(very-small) {
      width: 6rem;
    }
  }

  &__logo {
    width: 100%;
  }

  &__text-box {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
