.navigation {
  // styling
  &__checkbox {
    display: none;
  }

  &__button {
    background-color: $color-white;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.2);
    z-index: 100;
    // for icon to be in center
    text-align: center;
    cursor: pointer;
  }

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );
    z-index: 50;
    transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    // on top of background and, below the button
    z-index: 70;
    opacity: 0;
    width: 0;
    transition: all 0.3s ease-out;
  }

  &__list {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      padding: 1rem 1.5rem;
      font-size: 3rem;
      font-weight: 300;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );
      // this is the trick that white background goes away to the right side
      background-size: 230%;
      transition: all 0.2s ease-out;

      span {
        display: inline-block;
        margin-right: 1.5rem;
      }
    }

    &:hover,
    &:active {
      // shift the background completely to the left side
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
    }
  }

  // functionality
  // &__background this is not adjacent
  &__checkbox:checked ~ &__background {
    transform: scale(60);
  }

  // &__background this is not adjacent
  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }

  // icon
  &__icon {
    position: relative;
    margin-top: 3.5rem;

    &,
    &::before,
    &::after {
      display: inline-block;
      height: 2px;
      width: 3rem;
      background-color: $color-grey-dark-3;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all 0.2s ease-out;
    }

    &::before {
      top: -0.8rem;
    }

    &::after {
      top: 0.8rem;
    }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  // button is adjacent sibling, ">" is not necessary
  &__checkbox:checked + &__button > &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button > &__icon::before {
    top: 0;
    transform: rotate(135deg); // 180deg - 45deg = 135deg
  }

  &__checkbox:checked + &__button > &__icon::after {
    top: 0;
    transform: rotate(-135deg); // 180deg - 45deg = 135deg
  }
}
