.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15;

  &__content {
    width: 100%;
    height: 100%;
    // it will fill the entire video in the section, and not destroying its aspect ratio, instead of working with background images, it works with html elements, and it also works with html images
    object-fit: cover;
  }
}
